<% layout("/layouts/boilerplate") -%>
<body>
<div class="row mt-2 mb-3">
<div class="col-8 offset-2">
        <br/>
        <h3 class="new-head">Create a New Listing</h3>
        <form method="POST"action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
            <label for="title" class="form-label"> Title :</label>
            <input class="form-control" type="text"name="listing[title]" placeholder="enter title"id="title" required>
            <div class="valid-feedback">Nice Title!</div>
        </div>
            <div class="mb-3">
         <label for="description" class="form-label">Description :</label><br/>
         <textarea class="form-control" name="listing[description]" id="description" rows="6" cols="50" required></textarea>
         <div class="invalid-feedback">Please enter a short description.</div> 
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing image </label>
            <input class="form-control" name="listing[image]"type="file" id="image" required> 
        </div>
          <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price :</label>
                <input class="form-control" name="listing[price]" placeholder="enter price"id="price" required>
                <div class="invalid-feedback">Please enter a valid price.</div> 
            </div>
               <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country :</label>
                <input class="form-control" type="text"name="listing[country]" placeholder="enter country"id="country" required>
                <div class="invalid-feedback">Please enter a valid Country.</div>
            </div>
          </div>
           <div class="mb-3">
            <label for="location" class="form-label">Location :</label>
            <input class="form-control" type="text"name="listing[location]" placeholder="enter location"id="location" required>
            <div class="invalid-feedback">Please enter a valid Location.</div>  
        </div>
            <button class="btn btn-dark add-btn mt-3">Add</button>

        </form>
    </div>
</div>
</body>
